{
  "source": {
    "code": "auto",
    "name": "AUTO"
  },
  "target": {
    "code": "fr",
    "name": "FRENCH"
  },
  "fix_list": [],
  "translations": [
    {
      "_________id": 0,
      "_translator": "google",
      "__from_text": "Правая",
      "____to_text": "Droite      "
    }
  ],
  "next_id": 1
}