{
  "state": "DONE",
  "source": {
    "code": "auto",
    "name": "AUTO"
  },
  "target": {
    "code": "cs",
    "name": "CZECH"
  },
  "fix_list": [
    "_____peurKe"
  ],
  "translations": [
    {
      "_________id": 0,
      "_translator": "google",
      "__from_text": "Правая",
      "____to_text": "Pravo       ",
      "_____peurKe": "Pravo!      ",
      "_comment_00": "This is a comment"
    }
  ],
  "next_id": 1
}