{
    "source": {
      "code": "auto",
      "name": "AUTO"
    },
    "target": {
      "code": "fr",
      "name": "FRENCH"
    },
    "fix_list": [],
    "translations": [
      {
        "_________id": 0,
        "_translator": "google",
        "__from_text": "Русский",
        "____to_text": "russe         "
      }
    ],
    "next_id": 1
  }